.tagsInput {
  width: 100%;
  border-radius: 8px;
  min-height: 40px;
  border: 1px solid #d9d9d9;
  padding: 8px 11px;
  gap: 11px;
  cursor: pointer;
  display: flex;
  &:hover {
    border: 1px solid #40a9ff;
  }

  &.overflowScroll {
    overflow-x: scroll;
    display: inline-block;
    & span {
      margin: 0;
    }
  }
}

.hasError {
  border-color: #ff7875;
}
